//Composant ThumbnailTask.js
.th-task .th-task-wrapper{
   color: black;
}
.linkBtn{
    text-decoration: none;
    color: white;
}
//Composant Task.js
.task h4{
   
    color: $green_chart_0;
}

.task h5{
   
}
.task h6{
    color: $blue_flag;
}
.task p{
    color:$red_flag;
}

.task .card{
    margin-top: 20px;
}
.materialList .delAction{
    color: $red_flag;
    margin-right: 10px;
}
.materialList{
    text-align: left;
}
.task .picture{
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url(../../assets/images/Bullet-journal-bro.svg);
}
.btn-warning{
    margin-left: 5px;
}

@media screen and (max-width: 300px) {
    .task .picture{
      display: none;
    }
}
// All
.red_flag{
    color:$red_flag;
}
.blue_chart_0_bg{
    background-color:$blue_chart_0;
    color: white;
}